
<ion-view view-title="Questions" hide-back-button="true">
  <ion-content>
  	<p></p>

	 <div class="card" ng-repeat="profilelist in names" >
	  	<div class="item item-divider"><a ng-href="{{profilelist.Url}}">{{profilelist.Name}}</a></div>
	 	<div class="item item-text-wrap"> 
	 
	  	 <video controls="controls"  style="float: left;width:250px; height:200px" > <source ng-src="{{profilelist.Url}}" type="video/mp4"/></video>

	  	</div>
		<div class="padding">
		   <button type="button" class="button"  ng-click="answer()">Reply</button>
		</div>

	</div>
    
  </ion-content>
</ion-view>
